.home{
    padding: 20px;
}
.error-message{
    text-align: center;
    color: red;
    font-size: 20px;
    margin-top: 20px;
}

/* Slider Section */
.slider {
    position: relative;
    width: 100%;
    max-width: 1800px;
    height: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.description {
    width: 100%;
    background: rgba(233, 193, 15, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

