.filter {
    display: flex; /* Sử dụng Flexbox để căn chỉnh ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    gap: 10px; /* Khoảng cách giữa các phần tử */
    margin-bottom: 20px;
}

.filter label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.filter input {
    padding: 5px;
    font-size: 1rem;
    width: 100px;
}

.statistics-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.stat-item {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stat-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.stat-item p {
    font-size: 1.2rem;
    color: #f68b1e;
}

.stat-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stat-item ul li {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
}

.filter button {
    padding: 8px;
    font-size: 1rem;
    width: 100px;
    background-color: #f68b1e; /* Màu nền */
    color: #fff; /* Màu chữ */
    border: none;
    border-radius: 5px; /* Bo góc */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter button:hover {
    background-color: #e57a1a; /* Màu nền khi hover */
}